@font-face {
    font-family: "Rush Blade";
    src: url(../fonts/RushbladeDemo-AR8EA.ttf);
    src: url(../fonts/RushbladeDemo-AR8EA.ttf) format(truetype);
}

body {
    margin: 0px;
    font-family: "Rush Blade";
}

.overall-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a:link { 
    text-decoration: none;
}

/* headers */
.header {
    margin: 0px;
    display: flex;
    top: 0;
    flex: 2;
    z-index: 1;
    background-color: black;
    color: #d9d9d9;
    justify-content: space-around;
    align-items: center;
}

.header .title {
    font-size: 2.5rem;
    flex: 3;
    padding: 2em;
    margin-left: -0.4em; */
}

.header .menu {
    text-align: left;
    font-size: 1.2rem;
    padding: 2em;
    flex: 1;
    white-space: nowrap;
    display: flex;
    gap: 1em;
}

.header a:link {
    color: #d9d9d9;
}

.header a:hover {
    color: white;
}

/* body */
.body {
    flex: 7;
    background-image: url(../images/menu_background_image.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: flex-start;
}

.body .menu-text {
    color: white;
    font-size: 1.8rem;
    padding: 1.3em;
    
}

.body .menu-text h3 {
    font-size: 1.8rem;
    margin-top: -0.4em;
}


.body a:link {
    color: white;
} 

.body a:hover {
    color: grey;
}


/* footer */

.footer {
    background-color: black;
    color: #d9d9d9;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.footer .menu {
    font-size: 1rem;
    padding: 0.8em;
    margin-bottom: -0.8em;
}

.footer .copyright {
    padding: 0.8em;
    font-size: 1rem;
}

.footer a:link {
    color: #d9d9d9;
} 

.footer a:hover {
    color: white;
}


/* about section specific */

.about-body {
    flex: 7;
    display: flex;
}

.about-body .info {
    background-image: linear-gradient(145deg, #ffb8e5, #ebe6e9);
    flex: 5;
    color: white;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 2.7em 1.3em;
    margin-left: -4em;
}

.about-body .email {
    white-space: nowrap;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    font-size: 3em 1em;
}

.about-body .general-info {
    white-space: nowrap;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    font-size: 2.5em;
}

.about-body .fav-inspo {
    white-space: nowrap;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 2.5em;
}

.about-body .selfie {
    background-image: url(../images/about-selfie.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    flex: 2;
    border-width: 1.5em 0em 1.5em 1.5em;
    border-color: black;
    background-color: black;
}

.about-body ul {
    margin-top: -1em;
}

.about-body li:nth-child(2) {
    margin-left: 3em;
}

.about-body li:nth-child(3) {
    margin-left: 6em;
}

.about-body li:nth-child(4) {
    margin-left: 9em;
}

.nines {
    color: white;
    background-color: black;
    font-size: 1.5vh;
}
